<!DOCTYPE html>
<html>
<head>
    <title>Mensagem a ser enviada</title>
</head>

<body>
    <form action="/" method="post" class="form-signin">
        <div class="form-group">
            <label for="name">Message</label>
            <textarea type="text" class="form-control" id="message" name="message" placeholder="Enter message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>

